# Copy this file into a new file called ".env" in the root of the project.
# The dotenv gem will load the contents of .env into the environment when
# Rails starts. Access values like this: ENV["RAILS_SECRET_KEY_BASE"]
#
# The purpose of this file is to keep secrets out of source control.
# For more information, see: https://github.com/bkeepers/dotenv

SECRET_KEY_BASE=9d5fc005e1eba1e8358c7de42b49554907c7a750d1684c0625805507aa5f392a7b74f61a6c4c946b6fde85f58e1542eddd1446583f32ebad5feddbca56e20e80
REDIS_URL=redis://localhost:6379/12
SIDEKIQ_WEB_USERNAME=admin
SIDEKIQ_WEB_PASSWORD=password
